<div class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto">
  <p class="text-lg font-semibold text-gray-900">Hello <%= @resource.email %>!</p>

  <p class="mt-4 text-gray-700">We're contacting you to notify you that your password has been changed.</p>
</div>
